body{
    font-family: "Kanit";
}

.specs-basic{
    -webkit-box-shadow: -9px 0px 12px -11px rgba(0,0,0,0.75);
-moz-box-shadow: -9px 0px 12px -11px rgba(0,0,0,0.75);
box-shadow: -9px 0px 12px -11px rgba(0,0,0,0.75);
}